section.mussey-controlarea {
  padding: 45px 5px;
  position: absolute;
  background-color: #001e3c;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 4px solid #ff9c00;
}

@media only screen and (max-width: 992px) {
  section.mussey-controlarea {
    height: 31vh;
  }
}
