section.mussey-controlarea {
  padding: 45px 5px;
  position: absolute;
  background-color: #001e3c;
  bottom: 0;
  height: 42vh;
  width: 100%;
  border-top: 4px solid #ff9c00;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media only screen and (max-width: 992px) {
  section.mussey-controlarea {
    padding: 28px 5px;
    height: 39vh;
  }
}

@media only screen and (min-width: 1200px) {
  section.mussey-controlarea {
    padding: 52px 5px;
    height: 30vh;
  }
}
