div.controls {
  padding: 17px 0;
}

div.controls svg:hover {
  color: #ff9c00;
}

.previous-song svg,
.play-pause svg,
.next-song svg,
.repeat-song svg {
  color: #fff;
  font-size: 26px;
  transition: all 1s;
}

.volumn-down svg {
  color: #fff;
  font-size: 21px;
  margin-right: 17px;
}

.volumn-up svg {
  color: #fff;
  margin-left: 19px;
  font-size: 21px;
}

.pointer-cursor {
  cursor: pointer;
}

.play-progress {
  padding: 25px 0;
}

.play-progress input.tracking-slider.range {
  width: 100%;
}

.slider-control {
  width: 90%;
}

.start-time span,
.end-time span {
  color: #fff;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}
