@media only screen and (max-width: 425px) {
  .playart {
    width: 50px;
    height: 50px;
    border: 3px solid rgb(126, 126, 126);
  }
}

@media only screen and (min-width: 426px) {
  .playart {
    width: 72px;
    height: 72px;
    border: 3px solid rgb(126, 126, 126);
  }
}
