.music-title {
  margin-left: 24px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  display: block;
  font-family: 'Righteous', cursive;
}

span.music-author {
  margin-left: 24px;
  font-size: 23px;
  color: #fff;
  font-family: 'Cormorant Upright', serif;
}

@media only screen and (max-width: 425px) {
  .music-title {
    font-size: 18px;
  }

  span.music-author {
    font-size: 18px;
  }
}
