tr:hover svg {
  color: #ff9c00;
}

tr.track-item {
  background-color: #001e3c;
  transition: all 0.2s;
}

.track-item svg {
  font-size: 18px;
  color: #a8a7a8;
}

tr.track-item:hover {
  background-color: #4e4131 !important;
}

tr.current-track.track-item {
  background-color: #4e4131 !important;
}

tr.current-track.track-item svg {
  color: #ff9c00;
}
